In [1]:
import pandas as pd
import numpy as np
import os

In [43]:
df = pd.read_csv('t20_bbb.csv').drop(columns=['Unnamed: 0'])

In [44]:
df.head()

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,winner,toss,competition,bat_hand,bowl_style,bowl_kind,batruns,ballfaced,bowlruns,bat_out
0,1001349,1,Aaron Finch,5334,Australia,Lasith Malinga,49758,Sri Lanka,1,0.01,...,Sri Lanka,Sri Lanka,T20I,RHB,RF,pace bowler,0,1,0,True
1,1001349,1,Aaron Finch,5334,Australia,Lasith Malinga,49758,Sri Lanka,2,0.02,...,Sri Lanka,Sri Lanka,T20I,RHB,RF,pace bowler,0,1,0,True
2,1001349,1,Aaron Finch,5334,Australia,Lasith Malinga,49758,Sri Lanka,3,0.03,...,Sri Lanka,Sri Lanka,T20I,RHB,RF,pace bowler,1,1,1,True
3,1001351,1,Aaron Finch,5334,Australia,Lasith Malinga,49758,Sri Lanka,3,0.03,...,Sri Lanka,Sri Lanka,T20I,RHB,RF,pace bowler,0,1,0,True
4,1001351,1,Aaron Finch,5334,Australia,Lasith Malinga,49758,Sri Lanka,4,0.04,...,Sri Lanka,Sri Lanka,T20I,RHB,RF,pace bowler,4,1,4,True

In [45]:
df.columns

Index(['p_match', 'inns', 'bat', 'p_bat', 'team_bat', 'bowl', 'p_bowl',
       'team_bowl', 'ball', 'ball_id', 'outcome', 'score', 'out', 'dismissal',
       'p_out', 'over', 'ball.1', 'noball', 'wide', 'byes', 'legbyes',
       'cur_bat_runs', 'cur_bat_bf', 'cur_bowl_ovr', 'cur_bowl_wkts',
       'cur_bowl_runs', 'inns_runs', 'inns_wkts', 'inns_balls',
       'inns_runs_rem', 'inns_balls_rem', 'inns_rr', 'inns_rrr', 'target',
       'max_balls', 'date', 'year', 'ground', 'country', 'winner', 'toss',
       'competition', 'bat_hand', 'bowl_style', 'bowl_kind', 'batruns',
       'ballfaced', 'bowlruns', 'bat_out'],
      dtype='object')

In [46]:
df.shape

(1594387, 49)

In [51]:
df[(df['bat']=='Aryaveer Chaudhary') & (df['bowl_style']=='LMF')]

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,winner,toss,competition,bat_hand,bowl_style,bowl_kind,batruns,ballfaced,bowlruns,bat_out
1535127,1405317,2,Aryaveer Chaudhary,1329997,Singapore,Bilal Khan,937953,Oman,2,17.02,...,Oman,Singapore,T20I,LHB,LMF,pace bowler,-4,1,-3,True
1535128,1405317,2,Aryaveer Chaudhary,1329997,Singapore,Bilal Khan,937953,Oman,3,17.03,...,Oman,Singapore,T20I,LHB,LMF,pace bowler,0,1,0,True
1535129,1405317,2,Aryaveer Chaudhary,1329997,Singapore,Bilal Khan,937953,Oman,6,17.06,...,Oman,Singapore,T20I,LHB,LMF,pace bowler,0,1,0,True
1535130,1405317,2,Aryaveer Chaudhary,1329997,Singapore,Bilal Khan,937953,Oman,7,17.07,...,Oman,Singapore,T20I,LHB,LMF,pace bowler,0,1,0,True
1535131,1405317,2,Aryaveer Chaudhary,1329997,Singapore,Bilal Khan,937953,Oman,3,19.03,...,Oman,Singapore,T20I,LHB,LMF,pace bowler,0,1,0,True
1535132,1405317,2,Aryaveer Chaudhary,1329997,Singapore,Bilal Khan,937953,Oman,4,19.04,...,Oman,Singapore,T20I,LHB,LMF,pace bowler,0,1,0,True

In [47]:
subset_df=df.groupby(['p_bat','bat','bowl_style'])['batruns'].sum().reset_index()

In [48]:
subset_df.sort_values(by='batruns',ascending=False)

         p_bat                 bat bowl_style  batruns
6529    249866          Alex Hales        RFM     1828
5908    232359         Colin Munro        RFM     1528
9168    308967         Jos Buttler         RF     1512
148       5334         Aaron Finch        RFM     1501
7956    296597         James Vince        RFM     1467
...        ...                 ...        ...      ...
7206    275936        Ryan Wiggins        LWS        0
35716  1136011          Manik Khan        LFM        0
33457  1079842        Manjot Kalra         RM        0
36757  1155506    Shelton Nhavotso         LM       -2
45389  1329997  Aryaveer Chaudhary        LMF       -4

[46689 rows x 4 columns]