In [37]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
df_org = pd.read_csv('docs/t20s_2013-23_mgd.csv').drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

C:\Users\anees\AppData\Local\Temp\ipykernel_26580\3596150139.py:1: DtypeWarning: Columns (54,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df_org = pd.read_csv('docs/t20s_2013-23_mgd.csv').drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

In [39]:
df_org=df_org[(df_org['ball']<=11)]
df_org=df_org.drop(columns='ball.1')
df_org=df_org[(df_org['batruns']>=0) & (df_org['bowlruns']>=0)]

In [40]:
def bowl_style_clean(df,unique_styles):

    df['bowl_style'] = df['bowl_style'].replace(['RFM', 'RMF'], 'RFM')
    df['bowl_style'] = df['bowl_style'].replace(['LFM', 'LMF'], 'LFM')
    df['bowl_style'] = df['bowl_style'].replace(['LBG', 'LB'], 'RWS')
    df['bowl_style'] = df['bowl_style'].replace(['LS', 'SLA'], 'SLA')
    df['bowl_style'] = df['bowl_style'].replace(['RAB'], 'RSM')
    df['bowl_style'] = df['bowl_style'].replace(['LAB'], 'LSM')
    unique_styles = ['LFM/SLA', 'OB/LB','LM/SLA/LWS','OB/SLA','RMF/OB', 'RFM/OB', 'OB/LBG', 'RFM/LBG', 'RM/LB',
           'RM/LBG', 'LMF/RM', 'RM/RSM', 'SLA/LWS', 'RMF/LB', 'RFM/LB',
           'RM/OB/LB']
    replacements = {
        'RFM': 'RFM',
        'RMF': 'RFM',
        'LFM': 'LFM',
        'LMF': 'LFM',
        'LBG': 'RWS',
        'LB': 'RWS',
        'LS': 'SLA',
        'SLA': 'SLA',
        'RAB': 'RS',
        'LAB': 'LS'
    }

    # Iterate over unique styles and apply replacements
    for style in unique_styles:
        replaced_style = '/'.join([replacements.get(part, part) for part in style.split('/')])
        df['bowl_style'] = df['bowl_style'].replace([style], replaced_style)
    #df['bowl_style'].unique()
    return df
unique_styles = ['RFM', 'RMF', 'LBG', 'LB', 'LS', 'RAB', 'LAB', 'OB', 'SLA', 'RAB','RSM','LSM']
df=bowl_style_clean(df_org,unique_styles)
df['bowl_style'].unique()

array(['RF', 'RFM', 'RWS', 'LWS', 'SLA', 'OB', 'LFM', 'LF', 'RM', 'RM/OB',
       'LM', 'LFM/SLA', 'OB/RWS', 'LM/SLA/LWS', 'OB/SLA', 'RSM', '-',
       'LSM', 'RFM/OB', 'RFM/RWS', 'RM/RWS', 'LFM/RM', 'RM/RSM',
       'SLA/LWS', 'RM/OB/RWS', 'RS'], dtype=object)

In [41]:
df_worldcup = pd.read_csv('docs/2024 wc squad.csv', encoding='latin1')
df_worldcup.head()

,Afghanistan,Australia,Bangladesh,Canada,England,India,Ireland,Namibia,Nepal,Netherlands,New Zealand,Oman,Papua New Guinea,Scotland,South Africa,Sri Lanka,Uganda,United States,West Indies,Pakistan
0,Rashid Khan,Mitchell Marsh,Najmul Hossain Shanto,Saad Bin Zafar,Jos Buttler,Rohit Sharma,Paul Stirling,Gerhard Erasmus,Rohit Paudel,Scott Edwards,Kane Williamson,Aqib Ilyas,Assad Vala,Richie Berrington,Aiden Markram,Wanindu Hasaranga,Brian Masaba,Monank Patel,Rovman Powell,NaN
1,Ibrahim Zadran,Ashton Agar,Taskin Ahmed,Aaron Johnson,Moeen Ali,Hardik Pandya,Mark Adair,Zane Green,Aasif Sheikh,Aryan Dutt,Finn Allen,Zeeshan Maqsood,Alei Nao,Matthew Cross,Ottniel Baartman,Charith Asalanka,Simon Ssesazi,Aaron Jones,Alzarri Joseph,NaN
2,Azmatullah Omarzai,Pat Cummins,Litton Das,Dillon Heyliger,Jofra Archer,Yashasvi Jaiswal,Ross Adair,Michael van Lingen,Anil Kumar Sah,Bas de Leede,Trent Boult,Kashyap Prajapati,Chad Soper,Bradley Currie,Gerald Coetzee,Kusal Mendis,Roger Mukasa,Andries Gous,Johnson Charles,NaN
3,Najibullah Zadran,Tim David,Soumya Sarkar,Dilpreet Bajwa,Jonny Bairstow,Virat Kohli,Andy Balbirnie,Dylan Leicher,Kushal Bhurtel,Daniel Doram,Michael Bracewell,Pratik Athavale,Charles Amini,Chris Greaves,Quinton de Kock,Pathum Nissanka,Cosmas Kyewuta,Corey Anderson,Roston Chase,NaN
4,Mohammad Ishaq,Nathan Ellis,Tanzid Hasan,Harsh Thaker,Harry Brook,Suryakumar Yadav,Curtis Campher,Ruben Trumpelmann,Kushal Malla,Fred Klaassen,Mark Chapman,Ayaan Khan,Hila Vare,Oli Carter,Bjorn Fortuin,Kamindu Mendis,Dinesh Nakrani,Ali Khan,Shimron Hetmyer,NaN

In [42]:
team_dict = df_worldcup.to_dict(orient='list')

print(team_dict['Afghanistan'])

['Rashid Khan', 'Ibrahim Zadran', 'Azmatullah Omarzai', 'Najibullah Zadran', 'Mohammad Ishaq', 'Mohammad Nabi', 'Gulbadin Naib', 'Karim Janat', 'Nangeyalia Kharote', 'Mujeeb Ur Rahman', 'Noor Ahmad', 'Naveen-ul-Haq', 'Fazalhaq Farooqi', 'Fareed Ahmad', nan, nan]

In [43]:
team_dict = {key: [value.strip() for value in values if pd.notna(value)] for key, values in team_dict.items()}

team_dict['Afghanistan']

['Rashid Khan',
 'Ibrahim Zadran',
 'Azmatullah Omarzai',
 'Najibullah Zadran',
 'Mohammad Ishaq',
 'Mohammad Nabi',
 'Gulbadin Naib',
 'Karim Janat',
 'Nangeyalia Kharote',
 'Mujeeb Ur Rahman',
 'Noor Ahmad',
 'Naveen-ul-Haq',
 'Fazalhaq Farooqi',
 'Fareed Ahmad']

In [44]:
players_list = np.concatenate((df['bowl'].unique(), df['bat'].unique()))
for team,players in team_dict.items():
    for player in players:
        if ((player not in players_list)|(player not in players_list)):
            print(team,player)

Canada Kanwarpal Tathgur
Namibia Jack Brassell
Namibia Malan Kruger
Namibia Peter-Daniel Blignaut
Nepal Anil Kumar Sah
Netherlands Daniel Doram
Netherlands Michael Levitt
Oman Khalid Kail
Scotland Jack Jarvis
Scotland Charlie Tear
United States Harmeet Singh
United States Nosthush Kenjige
United States Shayan Jahangir

In [45]:
players=set()
for key,vals in team_dict.items():
    players.update(vals)

In [51]:
len(matches_relevant)

4995

In [53]:
matches_relevant=df[df['bat'].isin(players) | df['bowl'].isin(players)]['p_match'].unique()
df=df[df['p_match'].isin(matches_relevant)]

In [54]:
df_player_id_combs=df[['bat','p_bat','bowl','p_bowl']].drop_duplicates()

In [55]:
# Create a mapping of player names to player IDs
player_id_map = {}
for index, row in df_player_id_combs.iterrows():
    if row['bat'] in player_id_map:
        continue
    player_id_map[row['bat']] = row['p_bat']
    player_id_map[row['bowl']] = row['p_bowl']
# Initialize lists to store data
player_names = []
countries = []
player_ids = []

# Iterate over the dictionary
for country, players in team_dict.items():
    for player in players:
        player_names.append(player)
        countries.append(country)
        player_ids.append(player_id_map.get(player, None))

# Create DataFrame from lists
team_df = pd.DataFrame({'Player': player_names, 'Country': countries, 'p_id': player_ids})
team_df['p_id'] = team_df['p_id'].astype('Int64')
team_df.head()

               Player      Country     p_id
0         Rashid Khan  Afghanistan   793463
1      Ibrahim Zadran  Afghanistan   921509
2  Azmatullah Omarzai  Afghanistan   819429
3   Najibullah Zadran  Afghanistan   524049
4      Mohammad Ishaq  Afghanistan  1076579

In [56]:
worldcup_pitches=['Kensington Oval, Bridgetown, Barbados',
                  'Sir Vivian Richards Stadium, North Sound, Antigua',
                  'Providence Stadium, Guyana',
                  'Daren Sammy National Cricket Stadium, Gros Islet, St Lucia',
                  'Brian Lara Stadium, Tarouba, Trinidad',
                  'Arnos Vale Ground, Kingstown, St Vincent',
                  'Central Broward Regional Park Stadium Turf Ground, Lauderhill',
                  'Nassau County International Cricket Stadium',
                  'Grand Prairie Stadium'
                 ]

In [28]:
df.columns

Index(['p_match', 'inns', 'bat', 'p_bat', 'team_bat', 'bowl', 'p_bowl',
       'team_bowl', 'ball', 'ball_id', 'outcome', 'score', 'out', 'dismissal',
       'p_out', 'over', 'noball', 'wide', 'byes', 'legbyes', 'cur_bat_runs',
       'cur_bat_bf', 'cur_bowl_ovr', 'cur_bowl_wkts', 'cur_bowl_runs',
       'inns_runs', 'inns_wkts', 'inns_balls', 'inns_runs_rem',
       'inns_balls_rem', 'inns_rr', 'inns_rrr', 'target', 'max_balls', 'date',
       'year', 'ground', 'country', 'winner', 'toss', 'competition',
       'bat_hand', 'bowl_style', 'bowl_kind', 'batruns', 'ballfaced',
       'bowlruns', 'bat_out', 'wagonX', 'wagonY', 'wagonZone', 'pitchLine',
       'pitchLength', 'shotType'],
      dtype='object')

In [60]:
df1=df[df['ground'].isin(worldcup_pitches)].groupby(['p_match', 'inns']).agg({'batruns':'sum','ballfaced':'sum','ground':'first'}).reset_index()

In [64]:
# Define custom aggregation function
def custom_agg(x):
    result = (x['batruns'].sum() * 120) / x['ballfaced'].sum()
    return round(result, 2)

# Group by 'inns' and 'ground', and aggregate using custom aggregation function
result_df = df1.groupby(['inns', 'ground']).apply(custom_agg).reset_index(name='result')

result_df

    inns                                             ground  result
0      1              Brian Lara Stadium, Tarouba, Trinidad  140.89
1      1  Central Broward Regional Park Stadium Turf Gro...  159.59
2      1  Daren Sammy National Cricket Stadium, Gros Isl...  157.40
3      1              Kensington Oval, Bridgetown, Barbados  150.04
4      1                         Providence Stadium, Guyana  145.95
5      1  Sir Vivian Richards Stadium, North Sound, Antigua  130.02
6      2              Brian Lara Stadium, Tarouba, Trinidad  141.01
7      2  Central Broward Regional Park Stadium Turf Gro...  147.70
8      2  Daren Sammy National Cricket Stadium, Gros Isl...  147.70
9      2              Kensington Oval, Bridgetown, Barbados  144.21
10     2                         Providence Stadium, Guyana  144.97
11     2  Sir Vivian Richards Stadium, North Sound, Antigua  139.94

In [91]:
df2=df[(df['ground'].isin(worldcup_pitches))&(df['bowl_kind'].isin(['pace bowler','spin bowler']))]
df2_runs=df2.groupby(['ground','bowl_kind']).agg({'batruns':'sum','ballfaced':'sum','p_match':'nunique'}).reset_index()
df2_runs.head()

,ground,bowl_kind,batruns,ballfaced,p_match
0,"Brian Lara Stadium, Tarouba, Trinidad",pace bowler,6146,4792,43
1,"Brian Lara Stadium, Tarouba, Trinidad",spin bowler,4970,4672,43
2,Central Broward Regional Park Stadium Turf Gro...,pace bowler,3900,2823,21
3,Central Broward Regional Park Stadium Turf Gro...,spin bowler,2216,1952,21
4,"Daren Sammy National Cricket Stadium, Gros Isl...",pace bowler,2832,2151,15

In [92]:
df2_outs=df[(df['out']==True)&(df['ground'].isin(worldcup_pitches))&(df['bowl_kind'].isin(['pace bowler','spin bowler']))].groupby(['ground','bowl_kind']).size().reset_index(name='outs')
df2_batting=pd.merge(df2_runs,df2_outs,on=['ground','bowl_kind'])
df2_batting.head()

,ground,bowl_kind,batruns,ballfaced,p_match,outs
0,"Brian Lara Stadium, Tarouba, Trinidad",pace bowler,6146,4792,43,293
1,"Brian Lara Stadium, Tarouba, Trinidad",spin bowler,4970,4672,43,240
2,Central Broward Regional Park Stadium Turf Gro...,pace bowler,3900,2823,21,156
3,Central Broward Regional Park Stadium Turf Gro...,spin bowler,2216,1952,21,96
4,"Daren Sammy National Cricket Stadium, Gros Isl...",pace bowler,2832,2151,15,137

In [93]:
df2_batting['average']=round(df2_batting['batruns']/df2_batting['outs'],2)
df2_batting['strike rate']=round(df2_batting['batruns']*100/df2_batting['ballfaced'],2)
df2_batting.sort_values('average')

,ground,bowl_kind,batruns,ballfaced,p_match,outs,average,strike rate
10,"Sir Vivian Richards Stadium, North Sound, Antigua",pace bowler,413,376,4,29,14.24,109.84
7,"Kensington Oval, Bridgetown, Barbados",spin bowler,3370,2902,36,175,19.26,116.13
11,"Sir Vivian Richards Stadium, North Sound, Antigua",spin bowler,466,416,4,23,20.26,112.02
4,"Daren Sammy National Cricket Stadium, Gros Isl...",pace bowler,2832,2151,15,137,20.67,131.66
1,"Brian Lara Stadium, Tarouba, Trinidad",spin bowler,4970,4672,43,240,20.71,106.38
0,"Brian Lara Stadium, Tarouba, Trinidad",pace bowler,6146,4792,43,293,20.98,128.26
6,"Kensington Oval, Bridgetown, Barbados",pace bowler,6220,4904,36,287,21.67,126.84
9,"Providence Stadium, Guyana",spin bowler,6198,5751,49,284,21.82,107.77
5,"Daren Sammy National Cricket Stadium, Gros Isl...",spin bowler,1558,1302,15,69,22.58,119.66
3,Central Broward Regional Park Stadium Turf Gro...,spin bowler,2216,1952,21,96,23.08,113.52
8,"Providence Stadium, Guyana",pace bowler,7390,5458,49,317,23.31,135.40
2,Central Broward Regional Park Stadium Turf Gro...,pace bowler,3900,2823,21,156,25.00,138.15

In [95]:
df.head()

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,batruns,ballfaced,bowlruns,bat_out,wagonX,wagonY,wagonZone,pitchLine,pitchLength,shotType
0,1001349,1,Aaron Finch,5334,Australia,Lasith Malinga,49758,Sri Lanka,1,1001349_1_1_1,...,0,1,0,True,208,178,3,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,DEFENDED
1,1001349,1,Aaron Finch,5334,Australia,Lasith Malinga,49758,Sri Lanka,2,1001349_1_1_2,...,0,1,0,True,243,175,3,ON_THE_STUMPS,GOOD_LENGTH,DEFENDED
2,1001349,1,Aaron Finch,5334,Australia,Lasith Malinga,49758,Sri Lanka,3,1001349_1_1_3,...,1,1,1,True,189,242,4,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,DEFENDED
3,1001351,1,Aaron Finch,5334,Australia,Lasith Malinga,49758,Sri Lanka,3,1001351_1_1_3,...,0,1,0,True,166,194,5,OUTSIDE_OFFSTUMP,SHORT_OF_A_GOOD_LENGTH,DEFENDED
4,1001351,1,Aaron Finch,5334,Australia,Lasith Malinga,49758,Sri Lanka,4,1001351_1_1_4,...,4,1,4,True,15,222,6,OUTSIDE_OFFSTUMP,GOOD_LENGTH,CUT_SHOT

In [109]:
df[df['bat'].isin(team_df[team_df['p_id'].isna()==False]['Player'])]

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,batruns,ballfaced,bowlruns,bat_out,wagonX,wagonY,wagonZone,pitchLine,pitchLength,shotType
43,1001349,1,Travis Head,530011,Australia,Lasith Malinga,49758,Sri Lanka,4,1001349_1_14_4,...,2,1,2,True,298,274,3,OUTSIDE_OFFSTUMP,FULL,COVER_DRIVE
44,1001349,1,Travis Head,530011,Australia,Lasith Malinga,49758,Sri Lanka,5,1001349_1_14_5,...,1,1,1,True,244,300,4,OUTSIDE_OFFSTUMP,GOOD_LENGTH,ON_DRIVE
45,1001349,1,Travis Head,530011,Australia,Lasith Malinga,49758,Sri Lanka,7,1001349_1_14_7,...,1,1,1,True,101,285,5,ON_THE_STUMPS,GOOD_LENGTH,ON_DRIVE
46,1001349,1,Travis Head,530011,Australia,Lasith Malinga,49758,Sri Lanka,4,1001349_1_17_4,...,1,1,1,True,136,197,6,OUTSIDE_OFFSTUMP,FULL_TOSS,ON_DRIVE
47,1001349,1,Travis Head,530011,Australia,Lasith Malinga,49758,Sri Lanka,6,1001349_1_17_6,...,1,1,1,True,222,250,4,OUTSIDE_OFFSTUMP,FULL_TOSS,ON_DRIVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555011,1373582,2,Akeal Hosein,530812,West Indies,Adil Rashid,244497,England,5,1373582_2_10_5,...,0,1,0,True,222,202,3,ON_THE_STUMPS,GOOD_LENGTH,ON_DRIVE
1555012,1373582,2,Akeal Hosein,530812,West Indies,Adil Rashid,244497,England,6,1373582_2_10_6,...,6,1,6,True,7,267,6,DOWN_LEG,FULL,SLOG_SHOT
1555013,1373582,2,Akeal Hosein,530812,West Indies,Adil Rashid,244497,England,5,1373582_2_12_5,...,0,1,0,True,233,198,3,ON_THE_STUMPS,FULL,PUSH
1555014,1373582,2,Akeal Hosein,530812,West Indies,Adil Rashid,244497,England,6,1373582_2_12_6,...,1,1,1,True,99,284,5,DOWN_LEG,FULL,ON_DRIVE
1555015,1373582,2,Akeal Hosein,530812,West Indies,Adil Rashid,244497,England,8,1373582_2_12_8,...,2,1,2,True,112,326,5,ON_THE_STUMPS,FULL,ON_DRIVE

In [121]:
df3=pd.merge(df[df['bat'].isin(team_df[team_df['p_id'].isna()==False]['Player'])],team_df[team_df['p_id'].isna()==False],left_on='p_bat',right_on='p_id',how='inner')
df3_bat=df3.groupby(['Country']).agg({'batruns':'sum','ballfaced':'sum','p_match':'nunique'}).reset_index()
df3_outs=df3[df3['out']==True].groupby(['Country']).size().reset_index(name='outs')
df3_bat_stats=pd.merge(df3_bat,df3_outs,on='Country')
df3_bat_stats['average']=round(df3_bat_stats['batruns']/df3_bat_stats['outs'],2)
df3_bat_stats['strike rate']=round(df3_bat_stats['batruns']*100/df3_bat_stats['ballfaced'],2)
df3_bat_stats.head(10)

       Country  batruns  ballfaced  p_match  outs  average  strike rate
0  Afghanistan    15537      11546      620   762    20.39       134.57
1    Australia    37124      26103      949  1264    29.37       142.22
2   Bangladesh    23300      19332      571  1069    21.80       120.53
3       Canada     3692       2681       42   118    31.29       137.71
4     England     42985      29712     1144  1564    27.48       144.67
5        India    38404      27629      685  1256    30.58       139.00
6      Ireland    19506      14623      358   894    21.82       133.39
7      Namibia     8730       6788      269   376    23.22       128.61
8        Nepal     5270       3970       65   193    27.31       132.75
9  Netherlands     4796       4207      171   237    20.24       114.00